<%- include('Partials/header.ejs') %>
<h1>Updating a Link in <%= name %> Category </h1>
<form action="/links/updatelink/<%= id %>" method="POST">
	  <input type="hidden" name="_method" value="PATCH">
      <input type="text" placeholder="Update your link description" value="<%= desc %>" name="description" required/>
      <input type="text" placeholder="Update your link" value="<%= link %>" name="link" required/>
	  <button type="submit" class="btn btn-float" ><i style="color: red" class="fas fa-plus fa-small" style="margin: 0;"></i></button>
</form>


<%- include('Partials/footer.ejs') %>